::-webkit-scrollbar {
    background-color: #EFEFEF;
    float: left;
    height: 300px;
    margin-bottom: 25px;
    margin-left: 22px;
    margin-top: 40px;
    width: 65px;
    overflow-y: scroll;
}

.force-overflow {
    min-height: 450px;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: #EFEFEF;
  
} 
::-webkit-scrollbar-thumb {
    background-color: #D8D8D8;
    border-radius: 20px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #EFEFEF;
    border-radius: 20px;
}
